<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AOIJAI WILL CONQUER THE WORLD</title>

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/product.css">

</head>
<body>

  <!-- NavBar -->
  <!-- <div class="container-fluid py-5">
    <header class="d-flex flex-wrap justify-content-start py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-md-stretch mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"> 
        <svg class="bi me-2" width="35" height="35">
          <img src="https://imgz.io/images/2022/08/22/Logo_DS.th.png"></img>
        </svg>
        <span class="fs-2">Data Science
          <h2 class="fs-4">Faculty of Science, Chiang Mai University</h2>
        </span>
      </a>
    </header>
  </div> -->
  <!-- End NavBar -->

  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand mb-2 h1">
        <img src="https://imgz.io/images/2022/08/22/Logo_DS.th.png" alt="" width="100" height="100"
          class="d-inline-block align-text-center me-2">
        Data Science
        Faculty of Science, Chiang Mai University
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="container">
        <div role="region" id="header-banner" aria-busy="false" class="carousel slide carousel-fade">
          <div id="header-banner___BV_inner_" role="list" class="carousel-inner">
            <div role="listitem" class="carousel-item banner-items active" aria-current="true" aria-posinset="1"
              aria-setsize="1" id="__BVID__49"><img src="https://imgz.io/images/2022/08/22/Group-5.jpg"
                class="d-none d-lg-block img-fluid w-100">
              <div class="carousel-caption">
                <div class="p-4 p-md-6 mb-2 rounded">
                  <div class="col-md-6">
                    <h4 class="display-6 fw-normal" >อนาคตราคาและปริมาณผลผลิตเป็นเรื่องที่ไม่แน่นอน
                    </h4>
                    <h4 class="display-6 fw-normal">
                      ให้เราเป็นส่วนหนึ่งที่ช่วยให้การตัดสินใจของคุณง่ายขึ้น</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <ol id="header-banner___BV_indicators_" aria-hidden="false" aria-label="Select a slide to display"
            aria-owns="header-banner___BV_inner_" class="carousel-indicators">
            <li role="button" id="header-banner___BV_indicator_1_" tabindex="0" aria-current="true"
              aria-label="Goto slide 1" aria-controls="header-banner___BV_inner_" class="active"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product -->

  <div class="row mb-2 row mt-2 row g-0 border">
    <div class="col-md-6">
      <div class="h-100 p-5 rounded-3">
        <h5>
          <p> เว็บไซต์เกี่ยวกับการทำนายปริมาณผลผลิต และราคาผลผลิต
            ของพื้นเศรษฐกิจทางการเกษตร
            สำหรับใน 17 จังหวัดภาคเหนือ
            ได้แก่ ข้าวนาปี ข้าวนาปรัง ข้าวโพด และอ้อย
            โดยวิเคราะห์จากปัจจัยพื้นฐานต่างๆ
            เพื่อสร้างความมั่นใจในการเพาะปลูก
            ให้กับเกษตรกรให้มากยิ่งขึ้น</p>
        </h5>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative
        text-align:center">
        <h4 class="text-center">ผลผลิตทางการเกษตร</h4>
        <div class="col align-self-center">
          <h5 class="mb-0 text-center">ข้าวนาปี/นาปรัง</h5>
        </div>
        <div class="col-auto d-none d-lg-block">
          <a href="https://imgz.io/image/A5YgU"><img
              src="https://imgz.io/images/2022/08/23/piece-golden-rice-rice-waiting-be-harvested.th.jpg"
              alt="piece-golden-rice-rice-waiting-be-harvested.jpg" border="0" /></a>
        </div>
      </div>

      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-align:center">
        <div class="col align-self-center">
          <h5 class="mb-0 text-center">ข้าวโพด</h5>
        </div>
        <div class="col-auto d-none d-lg-block">
          <a href="https://imgz.io/image/A5zM9"><img
              src="https://imgz.io/images/2022/08/23/close-up-view-basket-full-cooked-uncooked-corns.th.jpg"
              alt="close-up-view-basket-full-cooked-uncooked-corns.jpg" border="0" /></a>
        </div>
      </div>

      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-align:center">
        <div class="col align-self-center">
          <h5 class="mb-0 text-center">อ้อยโรงงาน</h5>
        </div>
        <div class="col-auto d-none d-lg-block">
          <a href="https://imgz.io/image/A5PKr"><img src="https://imgz.io/images/2022/08/23/sugarcane22.th.png"
              alt="sugarcane22.png" border="0" /></a>
        </div>
      </div>
    </div>
  </div>



  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3 text-center" style="background-color: #122703;">
        <h2>ข้อมูลที่ใช้ในการวิเคราะห์และทำนาย</h2>
        <form id="contact-form" action = "/" method="POST">
            <div style="text-align:center;">
              <div class="inbd">
                <label for="product" class="form-label">ชนิดของผลผลิต</label>
                <select class="form-select" id="product" name="product" required="" >
                  <option value="">--กรุณาเลือก--</option>
                  <option >ข้าวนาปี</option>
                  <option >ข้าวนาปรัง</option>
                  <option >ข้าวโพดเลี้ยงสัตว์</option>
                  <option >อ้อยโรงงาน</option>
                </select>
                <div class="invalid-feedback">
                  กรุณาเลือกผลผลิตที่ต้องการเพาะปลูก
                </div>
              </div>
            </div>

            <div style="text-align:center;">
              <div class="inbd">
                <label for="province" class="form-label">จังหวัด</label>
                <select class="form-select" id="province" name="province" required="">
                  <option value="">--กรุณาเลือก--</option>
                  <option>เชียงใหม่</option>
                  <option>เชียงราย</option>
                  <option>แม่ฮ่องสอน</option>
                  <option>ลำพูน</option>
                  <option>ลำปาง</option>
                  <option>พะเยา</option>
                  <option>น่าน</option>
                  <option>แพร่</option>
                  <option>ตาก</option>
                  <option>กำแพงเพชร</option>
                  <option>พิจิตร</option>
                  <option>อุตรดิตถ์</option>
                  <option>พิษณุโลก</option>
                  <option>สุโขทัย</option>
                  <option>นครสวรรค์</option>
                  <option>เพชรบูรณ์</option>
                  <option>อุทัยธานี</option>
                </select>
                <div class="invalid-feedback">
                  กรุณาเลือกจังหวัดที่ต้องการเพาะปลูก
                </div>
              </div>
            </div>

            <div style="text-align:center;">
              <div class="inbd">
                <label for="area" class="form-label">ขนาดพื้นที่เพาะปลูก(ไร่)</label>
                <input type="number" class="form-control" id="area" name="area" placeholder="ใส่ขนาดพื้นที่" required="">
                <div class="invalid-feedback">
                  กรุณาใส่ขนาดพื้นที่ในการเพาะปลูก
                </div>
              </div>
            </div>

            <div style="text-align:center;">
              <div class="inbd">
                <label for="month" class="form-label">ราคาผลผลิตของเดือนที่ต้องสำหรับปี {{year}}</label>
                <select class="form-select" id="month" name="month" required="">
                  <option value="">--กรุณาเลือก--</option>
                  <option >มกราคม</option>
                  <option >กุมภาพันธ์</option>
                  <option >มีนาคม</option>
                  <option >เมษายน</option>
                  <option >พฤษภาคม</option>
                  <option >มิถุนายน</option>
                  <option >กรกฎาคม</option>
                  <option >สิงหาคม</option>
                  <option >กันยายน</option>
                  <option >ตุลาคม</option>
                  <option >พฤศจิกายน</option>
                  <option >ธันวาคม</option>
                </select>
                <div class="invalid-feedback">
                  กรุณาเลือกเดือนที่ต้องการเพาะปลูก
                </div>
              </div>
            </div>
            <hr class="my-4">
            </hr>
            <div style="text-align:center;">
              <!-- <input type="submit" value="classify"> -->
              <input class="btn btn-primary btn-lg"  type="submit" value="ทำนาย"></input>
            </div>

          </form>
      </div>
    </div>


    <div class="col-md-6">
      <div class="h-100 p-5 4 border rounded-3 text-center" style="background-color: #89a831;" style="color:#ffffff;">
        <h2>ผลลัพธ์ในการวิเคราะห์และทำนาย</h2>
        <!-- <p>จะได้ปริมาณผลผลิตที่คาดการณ์ ประมาณ 300 กิโลกรัม</p>
          <p>ราคาของผลผลิตที่คาดการณ์ 5บาท/กิโลกรัม</p> -->
        <span style="color:black; font-family: cursive;font-size: 20px"><i>{{prediction}}</i></span>
      </div>
    </div>
  </div>




  <script src="static/js/bootstrap.min.js"></script>
</body>

<hr class="my-4">
</hr>

<!-- Footer -->
<footer id="colophon" class="site-footer">
  <div id="top-footer">
    <div class="container">
      <div class="top-footer clearfix">
        <div class="footer footer1">
          <aside id="recent-posts-3" class="widget widget_text">
            <div class="textwidget">
              <h2 class="widget-title">ทุนสนับสนุน</h2>
              <div class="content">
                <div class="col-md-8">
                  <h4>
                    <p>โครงการพัฒนานวัตกรรมด้านวิทยาการข้อมูล ประจำปีงบประมาณ 2565</p>
                    <p>โครงการจัดตั้งศูนย์วิจัยวิทยาการข้อมูล คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</p>
                  </h4>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">
  </hr>

  <div id="middle-footer">
    <div class="container">
      <aside id="text-3" class="widget widget_text">
        <div class="textwidget">
          <h5 class="section">คณะผู้วิจัยและจัดทำ</h5>
          <div class="content">
            <p> 1. ผศ. ดร.สมภพ มูลชัย ภาควิชาคณิตศาสตร์</p>

            <p> 2. ผศ. ดร.จักรเมธ บุตรกระจ่าง ภาควิชาวิทยาการคอมพิวเตอร์</p>

            <p> 3. อ. ดร.นวพร นาคหฤทัย ภาควิชาสถิติ</p>

            <p> 4. นายโสภณัฐ พงษ์มารุทัย สาขาวิทยาการข้อมูล</p>

            <p> 5. นางสาวกฤติญา แสวงวงค์ สาขาวิทยาการข้อมูล</p>

            <p> 6. นางสาวปรีชญาภัทร์ ช่างคำ สาขาวิทยาการข้อมูล</p>
          </div>
        </div>
      </aside>
    </div>
  </div>

  <hr class="my-4">
  </hr>

  <div id="middle-footer">
    <div class="container">
      <aside id="text-3" class="widget widget_text">
        <div class="textwidget">
          <h5 class="section">ออกแบบเว็บไซต์</h5>
          <div class="content">
            <p>นางสาวสุทธิดา ลือชัย สาขาวิทยาการข้อมูล</p>
          </div>
        </div>
      </aside>
    </div>
  </div>

  <hr class="my-4">
  </hr>

  <div id="middle-footer">
    <div class="container">
      <aside id="text-3" class="widget widget_text">
        <div class="textwidget">
          <h5 class="section">ศูนย์วิจัยวิทยาการข้อมูล</h5>
          <div class="content">
            <p>คณะวิทยาศาสตร์, มหาวิทยาลัยเชียงใหม่</p>
            <p>239 ถนนหห้วยแก้ว, สุเทพ, เมือง, เชียงใหม่ 50200 ประเทศไทย โทร. 053-941986 Email : ds.sci.cmu@gmail.com
            </p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</footer>
<!-- End Footer -->

</html>